.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

.header-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
}

.header-a {
  text-decoration: none;
  color: inherit;
}

.header-icon {
  font-size: 45px;
  margin-top: 1vh;
  padding: 1vh;

}

.header-icon:hover {
  font-size: 60px;
  color: #528d4e;
  cursor: pointer;
}

.left-icon {
  margin-left: .5vh;
}

.right-icon {
  margin-right: .5vh;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
  margin-top: 1.2vh;
}

nav h1:hover {
  cursor: pointer;
  font-size: 55px;
  margin-top: .8vh;
}
.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

.board {
  width: 450px;
  height: 550px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 5px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 10px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}

.footer-div {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 3rem;
  width: 100%;
  background-color: #333; /* Replace with your dark color value */
  border-top: solid;
  border-color: #ddd; /* Replace with your light color value */
  padding: 0;
  justify-content: center;
  margin-bottom: 0;

  .icon-list ul {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end; /* Adjust alignment to the bottom */
    color: #ddd; /* Replace with your light color value */
    justify-content: space-between;
    padding-inline-start: 0px;
    font-size: 20px;
    list-style: none;
    margin: 0.5vh;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .icon-li:hover {
    flex-direction: column;
    color: #b49f39; /* Replace with your light-yellow color value */
  }
}

.icon-list {
  padding-bottom: 20px;
}

@media (max-height: 640px) {
  .footer-div {
    height: 2rem;
    margin-bottom: 5px;

    .icon-list ul {
      font-size: 10px;
      margin-bottom: 10px;
    }
  }
}
